
div{  
    width: 1250px;
    font-family: "Bahnschrift";

}
body{
    background-image: url(/resources/wife\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Bahnschrift";
    padding-bottom: 5%;

    justify-items: center;
}
.NavBar{
    display: flex;
    justify-content: space-between;
    height: 70px;
    justify-self: center;
}

.DaisyText{
    align-content: center;
    width: 65%;
    height: inherit;
}
.textex{
    height: fit-content;
    width: fit-content;
    margin-left:  100px;
    margin-top: 50px;
}
.NavBar div{
    width: 25%;
}
.NavBar button:hover{
    opacity: 0.7;
}
.UpperLeft{
    display: flex;  
    justify-content: left;
    align-items: center;
    gap: 3%;
}
.UpperLeft button{
    border-radius: 5px;
    border:none;
    height: 50%;
    width: 12%;
} 
.UpperMiddle{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.UpperMiddle a{
    text-decoration: none;
    color: black;
}
.UpperMiddle a:hover{
    opacity: .7;
    text-decoration: underline;
}

.UpperRight{
    display:flex;
    justify-content: right;
    align-items: center;
    gap: 5%;

}
.UpperRight button{
    width:5rem;
    border-radius: 15px;
    height: 40%;
    width: 40%;
    font: inherit;
}
.gf{
    display: flex;
    height: inherit;
    width: fit-content;
    justify-content:right;
}

.Container{
    display: flex;
    justify-self: center;
    height:400px;

}


.daisy{
    position: absolute;
    height: inherit;
    width: inherit;
    z-index: -1;
    align-content:end;

}
.Read{
    position: absolute;
    display: flex;
    width: inherit;
    height:inherit;
    justify-content: center;
    align-items: end;
}
.lowerPart{
    justify-self: center;
 }
 .bottom1stLeft{
     display: grid;
     grid-template-areas: 
     "closedEyes wifeBlacktop"
     "ViewMore ViewMore"
     ;
     height: fit-content;
     width: fit-content;
     column-gap: 25px;
     row-gap: 10px;
     
 }
 .bottom2ndLeft{
    position: relative;
    width: 250px;
    display: grid;
    row-gap: none;
    justify-items: center;
    margin-bottom: -10px;

}
.bottom2ndLeft p{
    width: fit-content ;
    margin-left: 10px ;

}
.bottom2ndLeft div{
    width:220px;

    height: 80%;
    border-radius: 15px;
}
.bottom2ndLeft p{
    font-size: .8rem;
}

 .content{
    display: flex;
    gap:50px;

 }

 .bottom1stLeft img{
     height: 200px;
     width: 170px;
     border-radius: 25px;

 }

 .bottomRight1{
    display: grid;
    width: fit-content;
    align-content:end;
    gap: 35px;

 }
 .bottomRight1 div{
    width: fit-content;


 }

 .bottomRight1 img{
    height: 135px;
    width: 130px;
    border-radius: 15px;
 }

 .bottomRight2 div{
    width: fit-content;
 }


/*********** Elements **********/
#login{
    border-style:solid;
}

#signup{
    border: none;
    background-color: #ffc2d1;
}
#User-Button{
    background-color: #474448;
    color: #fffffc;
}
#Plus-Button{
    background-color: #ffc2d1;
}
#daisyBg{
    display: flex;
    align-self:flex-end;
    height: 300px;
    width: inherit;
    z-index: -1;
    border-radius: 20px;

}

#GirlfriendOverlay{ 
    position: relative;
    height: inherit;
}
#ReadLink{
    margin-bottom:75px;
    color: black;
    text-decoration-thickness: 3px;

}
#ReadLink:hover{
    opacity: 0.7;
}
#GlaizaHeader{
    margin-bottom: -1rem;
    font-size: 3rem;
}

#ViewMore{
    grid-column: 1/span 2;
    border-radius: 10px;
    border-style:groove;
    height: 35px;
    font-family: "Bahnschrift";
    font-size: large;
   
}
#ViewMore:hover{
    opacity: 0.7;
}
#Pictures{
    grid-column: 1/span 2;
    
}

#h{

    width: fit-content;

}
#i1{
background-color: #ff8fab
}
#i2{
background-color: #ffb3c6;
}
#i3{
background-color: #ffc2d1;
}
#i4{
background-color: #a4ac86;
}
#i5{
background-color: #656d4a;
}


